header {
  background-image: url("../assets/images/Background_Intro.png");
  background-repeat: no-repeat;
  background-size: cover;        /* ou "contain", dependendo do efeito desejado */
  background-position: center;   /* centraliza a imagem */
  height: 750px;
  text-align: center;
}

  img:last-child{
    padding-top: 94px;
  }

.description {
  display: flex;
  flex-direction: column;
  max-width: 680px;      /* Limite máximo da largura */
  width: 100%;           /* Garante que se ajuste em telas menores */
  margin: 0 auto 80px;        /* Centraliza horizontalmente */
  padding: 0 1rem;       /* Espaço nas laterais para evitar encostar */



  img:first-of-type{
    padding-block: 56px;
    width: 112px;
    display: flex;
    align-self: center;
  }
  p span {
    color: var(--red);
  }
  
  h1 {
    margin-block: 8px 20px;
  }

  p:last-child{
    color: var(--gray-400);
  }
}

.icons-tech{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center; /* ou flex-start */
    margin-inline: auto;
}

.bt-social {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    background-color: #1e1f24;
    color: #c5c5c5;
    padding: 0.75rem 1.5rem;
    border-radius: 9999px; /* pill shape */
    font: var(--txt-md);
    transition: background 0.3s;

        img{
            width: 24px;
            height: 24px;
        }
}

.bt-social:hover {
  background-color: #2a2b30;
}

.icon.html {
  background-color: var(--red);
  border-radius: 50%;
  padding: 0.4rem;
}