#work {
    padding-top: 183px;
    background-color: var(--gray-200);
    text-align: center;
    p:first-child{
        color: var(--red);
        margin-bottom: 8px;
    }
}

.grade-projetos {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: center;

}

.card {
    background-color: var(--gray-300);
    border-radius: 16px;
    width: calc(100%/4);
    padding: 12px 12px 0;
    margin-top: 56px;

    &>div {

        text-align: left;

        h3{
            font: var(--title-sm);
            margin-block: 20px 8px;
        }
        p{
            font: var(--txt-sm);
            color: var(--gray-500);
            margin-bottom: 21px;
        }
    }
}

.img-card {
    width: 100%;
    border-radius: 16px;
}